<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<link href="../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../css/app.css" />
		<link href="../css/mui.imageviewer.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../css/im-chat.css"/>
		<style>
			
		</style>
	</head>

	<body contextmenu="return false;">
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title" id="title">CLoudChat</h1>
		</header>
		<pre id='h'></pre>
		<script id='msg-template' type="text/template">
			<% for(var i in record){ var item=record[i]; %>
				<div class="msg-item <%= (item.sender=='self'?' msg-item-self':'') %>" msg-type='<%=(item.type)%>' msg-content='<%=(item.content)%>'>
					<% if(item.sender=='self' ) { %>
						<img class="msg-user" src="<%=(item.photo)%>"/>
					<% } else { %>
						<img class="msg-user-img" src="<%=(item.photo)%>" alt="" />
					<% } %>
					
					<div class="msg-content">
						
						<div class="msg-content-inner">
							<% if(item.type=='text' ) { %>
								<%=( item.content|| '&nbsp;&nbsp;') %>
							<% } else if(item.type=='image' ) { %>
								<img class="msg-content-image" src="<%=(item.content)%>" style="max-width: 100px;" />
							<% } else if(item.type=='sound' ) { %>
								<span class="mui-icon mui-icon-mic" style="font-size: 18px;font-weight: bold;"></span>
								<span class="play-state">点击播放</span>
							<% } %>
						</div>
						<div class="msg-content-arrow"></div>
					</div>
					<div class="mui-item-clear"></div>
				</div>
			<% } %>
		</script>
		<div class="mui-content">
			<div id='msg-list'>
			</div>
		</div>
		<footer>
			<div class="footer-left">
				<i id='msg-image' class="mui-icon mui-icon-camera" style="font-size: 28px;"></i>
			</div>
			<div class="footer-center">
				<textarea id='msg-text' type="text" class='input-text'></textarea>
				<button id='msg-sound' type="button" class='input-sound' style="display: none;">按住说话</button>
			</div>
			<label for="" class="footer-right">
				<i id='msg-type' class="mui-icon mui-icon-mic"></i>
			</label>
		</footer>
		<div id='sound-alert' class="rprogress">
			<div class="rschedule"></div>
			<div class="r-sigh">!</div>
			<div id="audio_tips" class="rsalert">手指上滑，取消发送</div>
		</div>
		
	</body>

</html>
<script src="../js/mui.js"></script>
<script src="../js/app.js" type="text/javascript" charset="utf-8"></script>
<script src="https://cdn1.lncld.net/static/js/av-core-mini-0.5.7.js"></script>
<script src="../js/Cloud.js" type="text/javascript" charset="utf-8"></script>
<script src="../js/mui.imageViewer.js"></script>
<script src="../js/arttmpl.js"></script>
<script src="../js/im-chat.js" type="text/javascript" charset="utf-8"></script>
<script>
mui.init({
		gestureConfig: {
			tap: true, //默认为true
			doubletap: true, //默认为false
			longtap: true, //默认为false
			swipe: true, //默认为true
			drag: true, //默认为true
			hold: true, //默认为false，不监听
			release: true //默认为false，不监听
		},
		beforeback: function(){
	  			App.saveLog();
	  			mui.fire(previous_webview, "imchat:quit");
				return true;
		},
		
	});
var UIReceive = IMChatUI.receiveHanlder;
var user = App.User.get();
var thisConv = null;
var self = null;
var previous_webview = null;

console.log("im-chat:"+JSON.stringify(user))

mui.plusReady(function() {
	self = plus.webview.currentWebview();
	previous_webview = plus.webview.getWebviewById(self.previous_webview_id);
	self.setStyle({
		softinputMode: "adjustResize"
	});

	
});


IMChatUI.setSendHandler(function(msg){
	Cloud.IM.sendMsg({
		from_id:　thisConv.my_id,
		conv_id: thisConv.conv_id,
		to_id: thisConv.peerUser.userId,
		data: msg.content,
	})
	
	msg.photo = getPhotoSrc(thisConv.my_id);
//	msg.
	
	UIReceive(msg,true)
})

function syncConvList(id, done){
	var conv_id = id;
	
	Cloud.IM.getHistoryMessages({
		conv_id: conv_id,
	}, function(msgS){
		
		App.log("getHistoryMessages length " + msgS.length)
		IMChatUI.clear();
		for(var i=msgS.length-1; i>=0; i--){
			var c = msgS[i];
			
			UIReceive({
				sender: c.from ==thisConv.my_id?"self":"peer",
				type: 'text',
				content: c.data ,
				photo: getPhotoSrc(c.from), 
			})
		}
		IMChatUI.refresh();
		done&& done();
	})
}

function getPhotoSrc(id){
	var src= id == thisConv.my_id? user.userPhoto:thisConv.peerUser.userPhoto;
	return "../resource/photo/" + src;
}

window.addEventListener("conv_list", function(e){
	user = App.User.get();
	thisConv = JSON.parse(e.detail.conv);
	App.ID("title").innerHTML = thisConv.peerUser.userName;
	syncConvList(thisConv.conv_id, function(){
		self.show();
	});

})
window.addEventListener("push_msg", function(e){

	var payload = JSON.parse(e.detail.payload);
	if((thisConv && thisConv.conv_id) != payload.msgPayload.conv_id){
		return;
	}
	var msg ={
		sender:"peer",
		type: 'text',
		content: payload.msgPayload.data,
		photo: getPhotoSrc(payload.peerUser.userPhoto), 
	}
	UIReceive(msg,true)
	
	/*Chat List context cannot adjust the layout*/
//	syncConvList(thisConv.conv_id);
	
})



</script>