

/*
    Colors for Confluence (included for all themes by default).
*/
h1, h2, h3, h4, h5, h6,
.wiki-content h1,
.wiki-content h2,
.wiki-content h3,
.wiki-content h4,
.wiki-content h5,
.wiki-content h6,
.pagetitle,
.steptitle,
.substeptitle,
.formtitle,
table.confluenceTable td.confluenceTd.highlight,
table.confluenceTable td.confluenceTd.highlight > p,
table.confluenceTable th.confluenceTh,
table.confluenceTable th.confluenceTh > p,
table.admin th,
.form-element-large,
.form-element-small,
#toolbar #format-dropdown .format-h1 a,
#toolbar #format-dropdown .format-h2 a,
#toolbar #format-dropdown .format-h3 a,
#toolbar #format-dropdown .format-h4 a,
#toolbar #format-dropdown .format-h5 a,
#toolbar #format-dropdown .format-h6 a {
    color: #003366 ;
}

#format-dropdown .mce_formatPreview.mce_blockquote a {
    border-left-color: #3c78b5 ;
}

.wiki-content h1,
.wiki-content h2 {
 	border-bottom-color: #3c78b5 ;
}

.wiki-content-preview {
    border-left-color: #3c78b5 ;
    border-right-color: #3c78b5 ;
}

.pageSectionHeader {
    border-bottom-color: #3c78b5 ;
}

.panel {
    border-color: #3c78b5 ;
}

.panelHeader,
.menuheading,
.pageheader,
.sectionbottom {
    border-bottom-color: #3c78b5 ;
}

.topRow {
    border-top-color: #3c78b5 ;
}

.tabletitle, .pageSectionHeader {
	border-bottom-color: #3c78b5 ;
}

a:link,
a:visited,
a:focus,
a:hover,
a:active,
a.blogHeading {
	color: #006DAF ;
}

.wiki-content a,
.wiki-content a:link,
.wiki-content a:visited,
.wiki-content a:focus,
.wiki-content a:hover,
.wiki-content a:active {
	color: #006DAF ;
}

.createlink,
a.createlink,
a.createlink:link,
a.createlink:visited,
a.createlink:active,
a.createlink:hover {
    text-decoration: underline;
    color: #6D1806;
}

.unresolved,
a.unresolved,
a.unresolved:link,
a.unresolved:visited,
a.unresolved:active,
a.unresolved:hover {
    text-decoration: underline;
    color: #828282;
}

.not-permitted,
a.not-permitted,
a.not-permitted:link,
a.not-permitted:visited,
a.not-permitted:hover,
a.not-permitted:active {
    color: #cc0000;
}

.grey,
a.grey,
a.grey:link,
a.grey:visited,
a.grey:hover,
a.grey:active {
    color: #666;
}

#tinymce.wiki-content a,
#tinymce.wiki-content a:link,
#tinymce.wiki-content a:visited,
#tinymce.wiki-content a:focus,
#tinymce.wiki-content a:hover,
#tinymce.wiki-content a:active {
	color: #006DAF  !important;
}

#tinymce.wiki-content a.createlink {
    color: #6D1806  !important; /* !important used to negate styles used in designMode in FF */
}

#tinymce.wiki-content a.unresolved {
    color: #828282 !important; /* !important used to negate styles used in designMode in FF */
}

#tinymce.wiki-content a.not-permitted {
    color: #cc0000 !important; /* !important used to negate styles used in designMode in FF */
}

h1 a:link,
h1 a:visited,
h1 a:focus,
h1 a:hover,
h1 a:active {
    color: #006DAF ;
    border-bottom-color: #003366 ;
}

.spacenametitle-printable,
.spacenametitle-printable a,
.spacenametitle-printable a:visited {
    color: #999999;
}

.tableview th {
    color: #003366 ;
    border-bottom-color: #3c78b5 ;
}

blockquote {
    border-left-color: #3c78b5 ;
}

.navBackgroundBox {
    background: #3c78b5 ;
}

.previewBoxTop,
.previewContent,
.previewBoxBottom,
.functionbox {
    border-color: #3c78b5 ;
}

.smalltext-blue {
    color: #3c78b5 ;
}

.tabnav,
.comment .tabnav,
ul.tabnav {
    border-bottom-color: #3c78b5 ;
}

.tabnav .tabs a {
    border-color: #3c78b5 ;
    background: #3c78b5 ;
}

.tabnav .tabs a:link,
.tabnav .tabs a:visited {
    color: #ffffff ;
}
.tabnav .tabs a:hover {
    color: #ffffff ;
    background: #003366 ;
    border-color: #003366 ;
}

#squaretab a {
    border-color: #3c78b5 ;
}

#squaretab a:link,
#squaretab a:visited {
    background-color: #3c78b5 ;
}

#squaretab a:hover {
    color: #ffffff ;
    background-color: #003366 ;
    border-color: #003366 ;
}

table.blogcalendar {
    border-color: #3c78b5 ;
}

.blogcalendar th.calendarhead,
a.calendarhead,
a.calendarhead:link,
a.calendarhead:visited,
a.calendarhead:hover {
    background-color: #3c78b5 ;
    color: #ffffff ;
}

.searchGroupHeading {
    background-color: #3c78b5 ;
    color: #ffffff ;
}

.permissionTab {
    background: #3c78b5 ;
    color: #ffffff ;
}

.permissionSuperTab {
    background: #003366 ;
    color: #ffffff ;
}

/* styles for links in the top bar */
.topBar {
    background-color: #003366;
}

.basicPanelContainer {
    border-color: #3c78b5 ;
}

.greynavbar {
    border-top-color: #3c78b5 
}

div.license-personal {
   background-color: #003366;
   color: #ffffff ;
}

div.license-personal a {
   color: #ffffff ;
}

#header {
    background-color: #003366;
}

#header a,
#breadcrumbs {
    color: #ffffff;
}
.breadcrumbs {
 	border-color: #3c78b5 ;
}

#navigation, #tab-navigation {
    border-bottom-color: #3c78b5 ;
}

.tab-navigation .tab a {
    background-color: #3c78b5 ;
    border: 1px solid #3c78b5 ;
    color: #ffffff ;
}
.tab-navigation .tab a:hover {
    color: #ffffff ;
    background-color: #003366 ;
    border-bottom-color: #003366 ;
}

.tabletitle, .heading-text-color {
    color: #003366 ;
}

ol.autocompleter li.focused {
	background: #6699cc ;
	color: #ffffff ;
}

/* End colour styles for Confluence */

.diff-navigation a.version-navigation {
    background-color: #ddd;
}

.diff-navigation a.version-navigation:hover {
    background-color: #bbb;
}

.diff-navigation a.version-navigation.all:hover {
    background-color: transparent;
}

/* @group Admin tasklist colours */

.tasklist .task.complete .signoff { color: #008004; }
.tasklist .task.incomplete .signoff { color: #cc0000; }

/* @end Admin tasklist colours */

/* @group aui overrides */

/* @aui-override: tab colour, review after https://studio.atlassian.com/browse/AJS-557 is resolved */
.aui-tabs ul.tabs-menu li.menu-item a {
	color: #006DAF ;
}
/* @end */

#com-atlassian-confluence .aui-dd-parent .aui-dropdown .dropdown-item a,
.ajs-menu-bar li.ajs-menu-item .ajs-drop-down a {
    color: #535353 ;
}

#header .ajs-menu-bar li.ajs-menu-item a.trigger {
    color: #ffffff;
}

#header .ajs-menu-bar li.ajs-menu-item .ajs-drop-down a {
    color: #003366 ;
}

#com-atlassian-confluence .aui-dd-parent a.perms-dropdown-trigger:hover,
#com-atlassian-confluence .aui-dd-parent a.perms-dropdown-trigger:focus,
#com-atlassian-confluence .aui-dd-parent .aui-dropdown .dropdown-item.active a,
.menu-section-list li.active a,
.menu-section-list li.active a:hover,
#navigation .ajs-menu-bar .ajs-button a:hover,
#navigation .ajs-menu-bar .ajs-menu-item.hover a,
.ajs-menu-bar .ajs-menu-item li.active a,
.aui-dd-parent .aui-dropdown li.active,
.aui-dd-parent .aui-dropdown li.active span,
.aui-dd-parent .aui-dropdown a:focus span,
.ajs-menu-bar .ajs-menu-item.opened .ajs-drop-down li.active a,
#navigation .ajs-menu-bar li.ajs-button a.active,
#header .ajs-menu-bar li.ajs-menu-item.opened .ajs-drop-down li.active a,
.ajs-content-hover .popup-follow a:hover {
    color: #ffffff ;
    background-color: #6699cc ;
}

#header .ajs-menu-bar li.ajs-menu-item.opened,
#header .ajs-menu-bar li.ajs-menu-item.hover,
#header .ajs-menu-bar li.ajs-menu-item.opened a.trigger {
    background-color: #336699 ;
    border-color: #336699 ;
}

.ajs-menu-bar .ajs-menu-item.opened a.trigger {
    background-color: #6699cc ;
}

#header .ajs-menu-bar .ajs-drop-down {
    border-color: #003366;
}
#header .ajs-menu-bar .ajs-drop-down li.separator {
    border-top-color: #003366;
}

/* @end */

/* @group labels */

         (None) -section-title {
    color: #666;
}

.confluence-label {
    background-color: #D0DFEE;
}

.confluence-label:link,
.confluence-label:visited {
    color: #036;
}

.confluence-label:hover {
    border-color: #006DAF ;
}

.tag-cloud,
.tag-cloud .confluence-label {
    background: transparent;
}

.tag-cloud .confluence-label:link,
.tag-cloud .confluence-label:visited {
    color: #006DAF ;
}

.tag-cloud .confluence-label:hover {
    background-color: #D0DFEE;
    color: #036;
}

.tag-reference-section > h2 {
    background: $colorScheme.tabNavigationBackgroundColor;
    color: $colorScheme.tabNavigationTextColor;
}

/* @end */



/* @group Diff colours */

.diff-tag-added {
    background-color: #93c49f;
}

.diff-tag-removed {
    background-color: #df9898;
}

.diff-html-added {
    background-color: #ddfade;
    border-color: #93c49f;
}

.diff-html-removed {
    background-color: #ffe7e7;
    border-color: #df9898;
}

.diff-html-changed {
    background-color: #d6f0ff;
    border-color: #9eb6d4;
}

.diff-html-added img {
    border-color: #93c49f;
}

.diff-html-removed img {
    border-color: #df9898;
}

.diff-html-changed img {
    border-color: #9eb6d4;
}

.diff-image-overlay,
.wiki-content .diff-image-overlay {
    color: #535353;
}

.diff-image-overlay.diff-removed-image {
    background-color: #ffe7e7;
}

.diff-image-overlay.diff-added-image {
    background-color: #ddfade;
}

.diff-image-overlay.diff-changed-image {
    background-color: #d6f0ff;
}

.diff-macro {
    border-color: #ddd;
    background-color: #f0f0f0;
}

.diff-macro .diff-macro-title {
    background-color: transparent;
}

.diff-macro .diff-macro-properties {
    border-color: #ddd;
}

.diff-macro .diff-macro-properties,
.diff-macro .diff-macro-properties th,
.diff-macro .diff-macro-properties td {
    background-color: #fafafa;
    background: rgba(255,255,255,0.5);
}

.diff-macro .diff-macro-body {
    background-color: #fff;
    border: 1px solid #ddd;
}

.diff-macro.diff-html-added,
.diff-macro.diff-html-added .diff-macro-body {
    background-color: #ddfade;
    border-color: #93c49f;
}

.diff-macro.diff-html-removed,
.diff-macro.diff-html-removed .diff-macro-body {
    background-color: #ffe7e7;
    border-color: #df9898;
}

.diff-macro.diff-html-changed,
.diff-macro.diff-html-changed .diff-macro-body {
    background-color: #d6f0ff;
    border-color: #9eb6d4;
}

.diff-macro.diff-html-added .diff-macro-body,
.diff-macro.diff-html-removed .diff-macro-body,
.diff-macro.diff-html-changed .diff-macro-body {
    background-color: #fff;
}

/* @end Diff colours */
